@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Map Styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.custom-user-marker {
  background: transparent;
  border: none;
}

/* Fix for marker icons */
.leaflet-marker-icon {
  margin-left: -12px !important;
  margin-top: -41px !important;
}

/* Popup styles */
.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 10px;
}
